@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-image: radial-gradient(#999ccc 0.4px, transparent 0.4px),
		radial-gradient(#999ccc 0.4px, #e5e5f7 0.4px);
	background-size: 16px 16px;
	background-position: 0 0, 8px 8px;
	background-attachment: fixed; 
}

.underline-animation {
	position: relative;
	padding-bottom: 5px;
}

.underline-animation::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(147 51 234) , rgb(147 51 234) );
	background-size: 100% 5px;
	background-position: 0 100%;
	background-repeat: no-repeat;
	transition: background-size 0.5s ease-in-out, transform 0.5s ease-in-out;
	rotate: -2deg;
}

@keyframes animateUnderline {
	0% {
		background-size: 0% 5px;
	}
	50% {
		background-size: 100% 5px;
	}
}

.underline-animation::after {
	animation: animateUnderline 1s;
}
